{% set gvResponsive = gridview.options.responsive|default(false) %}
{% if gvResponsive %}<div class="gv-resp-wrap" data-gridview-responsive-target="wrap">{% endif %}
<table {{ gridview.regionAttr('dataview')|options }} data-gv="{{ gridview.key }}">
    {% if gridview.options.caption %}
        <caption>{{ gridview.options.caption }}</caption>
    {% endif %}
    {# thead/filter/tbody/tfoot/empty are internals of the table strategy, not
       top-level layout vocabulary, so they are included by path from within the
       strategy rather than dispatched as blocks. #}
    {% for section in gridview.parseLayout('dataview') %}
        {% include '@FedaleGridview/gridview/sections/dataview/' ~ section ~ '.html.twig' ignore missing %}
    {% endfor %}
</table>
{% if gvResponsive %}</div>{% endif %}
